<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width"/>
</head>
<body>
<table class="body">
<tr>
<td class="center" align="center" valign="top">
<center>
<table class="row header">
<tr>
<td class="center" align="center" style="background-color:#171d2c;">
<center>
<table class="container">
<tr>
<td class="wrapper last">
<table class="twelve columns" style="MARGIN-TOP:5px;width:100%;">
<tr>
<td class="four">
<img src="http://pgm.ns.co.th/images/pgm.management.png" width="200" height="39" >
</td>
<td class="eight" align="right" style="text-align:right; vertical-align:middle;">
<div class="template-label">Forgot Your Password?</div>
<div class="template-sub-label">It happens. Please remmeber your password.</div>
</td>
</tr>
</table>
</td>
</tr>
</table>
</center>
</td>
</tr>
</table>
<br>
<table class="container">
<tr>
<td>
<table class="row">
<tr>
<td class="wrapper last">
<table class="twelve columns">
<tr>
<td>
<center data-parsed="">
	<img src="http://www.gravatar.com/avatar/<%= avatar %>?d=mm&s=256" width="256" height="250" align="center" class="text-center">
</center>
<br/>
<h3 class="text-center">Your Password</h3>
<p class="text-center">Please remember your information and password.</p>
</td>
<td class="expander"></td>
</tr>
<tr>
<td>
<table class="small-button">
<tr>
<td style="font-weight:bold;">
Password: <%= password %>
</td>
</tr>
</table>
<hr/>
</td>
<td class="expander"></td>
</tr>
<tr>
<td align="center">
<center>
<p style="text-align:center;font-size:10px;">
	E-mail design by <b>Mr.Kananek Thongkam</b> | <a href="github.com/dvgamer">Touno-K.com</a> &#169; 2014
</p>
</center>
</td>
<td class="expander"></td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
</center>
</td>
</tr>
</table>
</body>
</html>



